#mySidebar {
  z-index: 2;
  width: 20%;
  min-width: 300px;
  height: 100%;
  background-color: #fff;
  position: fixed !important;
  overflow: auto;

}

.space{
  height:1002%
}


.main {
  background: white;
  margin-left: 310px;
  font-size: 28px;
  padding: 0px 10px;
}

.navbutton {
  padding: 10px 0px 10px 5px;
  float: left;
  border: none;
  outline: 0;
  width: 100%;
  text-align: left;
  white-space: normal;
  text-decoration: none;
  color: grey;
  background-color: inherit;
  cursor: pointer;
  font-weight: bold !important;
  font-size: 1.25em !important;
  color: #333;
}

.navbutton:hover {
  color: #d2e1e9 !important;
  background-color: #ccc !important;

}
.navcontent {
  z-index: 2;
  top: 0;
  text-align: left;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16);
  width: 15%;
  border: none;
  white-space: normal;
  float: left;
  outline: 0;
  background-color: #fff;
  overflow: auto;
  min-width: 300px;
  height: 100%;
  left: 0;
}

